<% if logged_in? %>
  <div class="row">
    <aside class="col-sm-12 col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>My Network Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>

<% else %>
<div class="container2">
  <div class="inner cover">
    <h1 class="cover-heading">SAMPLE APP</h1>
    <p class="lead">Share and see your friends workouts!</p>
    <p class="lead">
      <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
    </p>
  </div>
</div>

<% end %>

<!--
<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %> -->
